<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss:SSS}){yellow} %clr(%-5level){green} %msg %clr([%logger:%line]){cyan} %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>14</maxHistory> <!-- days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger:%line : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="DataFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>data/%d{yyyy-MM-dd}/%i.geojson.zip</fileNamePattern>
            <maxHistory>14</maxHistory>  <!-- days -->
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>200GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>trace</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="DataFile" />
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
    </root>

    <logger name="com.bosch.cs.rcs" additivity="false" level="debug">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
    </logger>

    <logger name="com.bosch.cs.rcs.common.Impl.DataRecorderImpl" additivity="false" level="trace">
        <appender-ref ref="Console"/>
        <appender-ref ref="DataFile"/>
    </logger>


</configuration>